<div class="hero-video-banner">
  <div class="hero-video-banner__background">
    {{#if @projectImageSrcSet}}
      <div class="hero-video-banner__background-image">
        <Ui::LazyImage
          @hasBorder={{false}}
          @role="presentation"
          @shouldImageCover={{true}}
          @sizes={{@projectImageSizes}}
          @srcSet={{@projectImageSrcSet}}
        />
      </div>
    {{/if}}

    {{#if @projectVideo}}
      <div class="hero-video-banner__background-video">
        <Ui::Video
          @videoPosterSrcSet={{@projectImageSrcSet.md.src}}
          @videoSrcSet={{@projectVideo}}
        />
      </div>
    {{/if}}
  </div>

  <div class="hero-video-banner__decoration">
    <Decorations::DecorativeTriangles />
  </div>

  <div class="hero-video-banner__content">
    <div class="hero-video-banner__details">
      {{#if @projectTimeframe}}
        <h2 class="hero-video-banner__details-timeframe">
          {{#if @projectTimeframe.start}}
            <span class="hero-video-banner__details-timeframe-start">{{@projectTimeframe.start}}</span>
          {{/if}}

          {{#if (and @projectTimeframe.start @projectTimeframe.end)}}
            <span class="hero-video-banner__details-timeframe-divider">to</span>
          {{/if}}

          {{#if @projectTimeframe.end}}
            <span class="hero-video-banner__details-timeframe-end">{{@projectTimeframe.end}}</span>
          {{/if}}
        </h2>

        <div class="hero-video-banner__details-divider" />
      {{/if}}

      <div class="hero-video-banner__details-content">
        <h1 class="hero-video-banner__details-title">{{@projectTitle}}</h1>
        <h2 class="hero-video-banner__details-sub-title">{{@projectRole}}</h2>
      </div>
    </div>
  </div>

  {{#if @projectLink}}
    <div class="hero-video-banner__footer">
      <div class="hero-video-banner__footer-section">
        <hr />
      </div>

      <div class="hero-video-banner__footer-section">
        <ul class="hero-video-banner__link-list util-spaced-list">
          {{#each @projectLink as |projectLink|}}
            <li class="hero-video-banner__link-list-item">
              <Ui::LinkExternal @href={{projectLink.href}}>{{projectLink.label}}</Ui::LinkExternal>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{/if}}
</div>
