<div class="status-message">
  <Ui::LazyImage
    @alt=""
    @isCurrentlyVisible={{true}}
    @shouldImageCover={{true}}
    @srcSet={{hash
        pl=(hash
          pl="/assets/images/misc/status_404_pl.jpg"
          width="100w"
        )
        xl=(hash
          src="/assets/images/misc/status_404_md.jpg"
          width="1660w"
        )
    }}
  />

  <div class="status-message__content">
    <div class="status-message__content-header">
      <h1>{{this.errorCode}}</h1>
      <h2>{{this.errorMessage}}</h2>
    </div>

    <div class="status-message__content-body">
      <p>You look lost, friend. Perhaps the page you're after no longer exists. Perhaps it never existed.</p>

      <p>Worry not, Why not <LinkTo @route="home">head back home</LinkTo> and see if you can find what you're looking for?</p>
    </div>
  </div>
</div>
