 <div class="mockup-grid-item">
  <img class="mockup-grid-item__image" src={{srcSet.md}} alt={{alt}} />
  <img class={{bem "mockup-grid-item__image" isLoaded=hasLoaded}} onLoad={{notifiyLoadedStatus}} src={{srcSet.md}} alt={{alt}} />
</div>
