<section class="project-content">
  <article class="project-content__body">
    {{#each @content.body as |bodyContent|}}
      {{!-- Sub heading --}}
      {{#if (or
        (does-equal bodyContent.type "h1")
        (does-equal bodyContent.type "h2")
        (does-equal bodyContent.type "h3")
        (does-equal bodyContent.type "h4")
        (does-equal bodyContent.type "h5")
        (does-equal bodyContent.type "h6")
        (does-equal bodyContent.type "p")
        (does-equal bodyContent.type "span")
      )}}
        {{#let (element bodyContent.type) as |Element|}}
          <Element class={{bem "project-content__body-section" readableWidth=true}} data-content-type={{bodyContent.type}}>
            {{{bodyContent.content}}}
          </Element>
        {{/let}}
      {{/if}}


      {{#if (or
        (does-equal bodyContent.type "ul")
        (does-equal bodyContent.type "ol")
      )}}
        {{#let (element bodyContent.type) as |Element|}}
          <Element class={{bem "project-content__body-section" readableWidth=true}} data-content-type={{bodyContent.type}}>
            {{#each bodyContent.content as |listItem|}}
              <li>{{{listItem}}}</li>
            {{/each}}
          </Element>
        {{/let}}
      {{/if}}

      {{!-- Image grid --}}
      {{#if (does-equal bodyContent.type "imageGrid")}}
        <Ui::IsCurrentlyVisible class={{bem "project-content__body-section" mediaWidth=true}} as |isCurrentlyVisible|>
          <Project::Content::ImageGrid
            @isCurrentlyVisible={{isCurrentlyVisible}}
            @colCount={{bodyContent.colCount}}
            @media={{bodyContent.content}}
          />
        </Ui::IsCurrentlyVisible>
      {{/if}}

      {{!-- Image grid slanted --}}
      {{#if (does-equal bodyContent.type "imageGridSlanted")}}
        <Ui::IsCurrentlyVisible class={{bem "project-content__body-section" mediaWidth=true}} as |isCurrentlyVisible|>
          <Project::Content::ImageGridSlanted
            @imageAspect={{bodyContent.imageAspect}}
            @isCurrentlyVisible={{isCurrentlyVisible}}
            @media={{bodyContent.content}}
          />
        </Ui::IsCurrentlyVisible>
      {{/if}}

      {{!-- Mockup grid --}}
      {{#if (does-equal bodyContent.type "mockupGrid")}}
        <figure class={{bem "project-content__body-section" fullWidth=true}}>
            <Project::Content::MockupGrid
              @isCurrentlyVisible={{true}}
              @media={{bodyContent.content}}
            />
        </figure>
      {{/if}}

      {{!-- Tech Grid --}}
      {{#if (does-equal bodyContent.type "techGrid")}}
        <div class={{bem "project-content__body-section" mediaWidth=true}}>
          <Project::Content::TechGrid
            @technology={{bodyContent.content}}
          />
        </div>
      {{/if}}
    {{/each}}
  </article>
</section>
