<div class="footer">
  <div class="footer__inner">
    <div class="footer__body">

      <div class="footer__coffee">
        <div class="footer__coffee-body">
          <div class="footer__coffee-images">
            <Ui::LazyImage
              class={{bem "footer__coffee-image" main=true}}
              @alt={{this.author.images.author.alt}}
              @role={{this.author.images.author.role}}
              @sizes={{this.author.images.author.sizes}}
              @srcSet={{this.author.images.author.srcSet}}
            />

            {{#each this.author.images.secondary as |secondaryImage|}}
              <Ui::LazyImage
                class={{bem "footer__coffee-image" secondary=true}}
                @alt={{secondaryImage.alt}}
                @role={{secondaryImage.role}}
                @sizes={{secondaryImage.sizes}}
                @srcSet={{secondaryImage.srcSet}}
              />
            {{/each}}
          </div>

          {{#if this.author.footerDescription.length}}
            {{#each this.author.footerDescription as |paragraph|}}
              <p class="footer__coffee-description">{{paragraph}}</p>
            {{/each}}
          {{/if}}
        </div>
      </div>


      {{#if this.contactLinks.length}}
      <div class="footer__links">
        <ul class="footer__links-list">
          {{#each this.contactLinks as |contactLink|}}
            <li class="footer__links-list-item">
              <span class="footer__links-list-item-icon {{contactLink.labelIconClass}}" />
              <a
                class="footer__links-list-item-label"
                href={{contactLink.href}}
                target={{contactLink.target}}
                rel="noreferrer"
              >
                {{contactLink.label}}
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
      {{/if}}
    </div>

    <div class="footer__footer">
      <p class="footer__footer-copy">{{this.author.name}} &copy; {{this.copyright}}</p>
    </div>
  </div>
</div>
