<a class="example-grid-item" href={{@example.url}} target="_blank" rel="noopener noreferrer">
  <div class="example-grid-item__background">
    <Ui::LazyImage
      class="example-grid-item__background-image"
      @isCurrentlyVisible={{isCurrentlyVisible}}
      @shouldImageCover={{true}}
      @sizes={{this.randomisedBackgroundSizes}}
      @srcSet={{this.randomisedBackgroundSrcSet}}
    />
  </div>

  <div class="example-grid-item__icon" />

  <div class="example-grid-item__content">
    <span>{{@example.name}}</span>
  </div>
</a>