<div class="image-grid-slanted-item">
    <Ui::IsCurrentlyVisible class="image-grid-slanted-item__image" as |isCurrentlyVisible|>
      <Ui::LazyImage
        @alt={{@alt}}
        @isCurrentlyVisible={{isCurrentlyVisible}}
        @shouldImageCover={{true}}
        @role={{@role}}
        @srcSet={{@srcSet}}
      />
    </Ui::IsCurrentlyVisible>
</div>
