<div
  data-analytics-name={{@analyticsLogName}}
  class={{bem "page-section-sticky-title__inner"
    isSticky=@isSticky
    isTitleFirst=@isTitleFirst
    titleTheme=(concat 'theme-' @titleTheme)
  }}
>
  <div
    class={{bem "js__page-section-sticky-title__heading page-section-sticky-title__heading"
      isTitleFirst=@isTitleFirst
      stateFixed=this.stateFixed
      stateEnd=this.stateEnd
    }}
  >
    <div class="page-section-sticky-title__heading-content-width">
      <h3 class="page-section-sticky-title__heading-title">{{@title}}</h3>
    </div>
  </div>

  <div class="page-section-sticky-title__content">
    <div class="page-section-sticky-title__content-content-width">
      {{yield}}
    </div>
  </div>
</div>