<div
  data-analytics-name={{@analyticsLogName}}
  class={{bem "page-section-sticky-title__inner"
    isSticky=this.isSticky
    isTitleFirst=this.isTitleFirst
    titleTheme=this.bemTitleTheme
  }}
>
  <div
    class={{bem "js__page-section-sticky-title__heading page-section-sticky-title__heading"
      isTitleFirst=this.isTitleFirst
      stateFixed=this.stateFixed
      stateEnd=this.stateEnd
    }}
  >
    <div class="page-section-sticky-title__heading-content-width">
      <h3 class="page-section-sticky-title__heading-title">{{@title}}</h3>
    </div>
  </div>

  <div class="page-section-sticky-title__content">
    <div class="page-section-sticky-title__content-content-width">
      {{yield}}
    </div>
  </div>
</div>