<div class="project-link-list__inner">
  {{#each projects as |project|}}
    <div class="project-link-list__item">
      <Ui::IsCurrentlyVisible as |isCurrentlyVisible|>
        <Project::ProjectLink
          @isCurrentlyVisible={{isCurrentlyVisible}}
          @srcSet={{project.thumbnail.srcSet}}
          @sizes={{project.thumbnail.sizes}}
          @name={{project.name}}
          @role={{project.role}}
          @id={{project.id}}
          @url={{project.url}}
        />
      </Ui::IsCurrentlyVisible>
    </div>
  {{/each}}
</div>
