<Layout::PageSections::PageWrapper @upperMargin={{true}}>
  <Layout::HeroPrimary />

  <h1>Home</h1>

  <div>
    <AboutMe @author={{model.author}} />
  </div>


  <div class="grid">
    {{#each model.example.codepen as |codepen|}}
      <a class="grid-item" href={{codepen.url}} target="_blank" rel="noreferrer">
        {{codepen.name}}
      </a>
    {{/each}}
  </div>
{{log "PageSectionStickyTitlePosition.Left" PageSectionStickyTitlePosition.Left}}
  <Layout::PageSections::PageSectionStickyTitle
    @title="Projects"
    @titlePosition="right"
    @titleTheme="primary"
    @onEntryToViewport={{action "sendGoogleEvent" "message"}}
  >
    {{#each model.project as |project|}}
    <Project::ProjectLink
      @srcset={{project.thumbnail.srcSet}}
      @name={{project.name}}
      @role={{project.role}}
      @id={{project.id}}
      @url={{project.url}}
    />
    {{/each}}
  </Layout::PageSections::PageSectionStickyTitle>

  <Layout::PageSections::PageSectionStickyTitle
    @title="Contact"
    @titlePosition="left"
    @titleTheme="secondary"
  >
    {{#each model.project as |project|}}
      <p><LinkTo @route="project" @model={{project.id}}><h1>{{project.name}}</h1></LinkTo></p>
    {{/each}}

  </Layout::PageSections::PageSectionStickyTitle>
</Layout::PageSections::PageWrapper>
