<div class="project-link__background">
  <img
    class="project-link__background-picture"
    alt=""
    srcset="{{srcset.xs}} 320w,
            {{srcset.sm}} 480w,
            {{srcset.md}} 800w,
            {{srcset.lg}} 800w"
    sizes="(max-width: 320px) 280px,
           (max-width: 480px) 440px,
           800px"
    src="{{srcset.md}}"
  />
</div>

<div class="project-link__body">
  <LinkTo
    class="project-link__body-content-main"
    @route="project"
    @model={{id}}
  >
    <div class="project-link__card">
      <div class="project-link__card-inner">
        <div class="project-link__card-content">
          <h3 class="project-link__card-content-name">{{name}}</h3>
          <hr class="project-link__card-content-spacer" />
          <p class="project-link__card-content-role">{{role}}</p>
        </div>
      </div>
    </div>
  </LinkTo>

  {{#if url}}
    <div class="project-link__body-content-footer">
      <div class="project-link__body-content-footer-inner">
        <Ui::LinkExternal @href={{url}}>{{url}}</Ui::LinkExternal>
      </div>
    </div>
  {{/if}}
</div>
