<div class="content-container content-container-header">
  <div class="hero-banner">
    <div class="hero-banner__background">
      <Ui::LazyImage
        class="hero-banner__background-picture"
        @alt=""
        @hasBorder={{false}}
        @isCurrentlyVisible={{true}}
        @shouldImageCover={{true}}
        @srcSet={{@backgroundSrcSet}}
      />
    </div>


    <div class="hero-banner__header">
      <div class="hero-banner__header-inner">
        <div class="hero-banner__header-inner-section">
          <p class="hero-banner__author-role">{{@author.role}}</p>
          <h1 class="hero-banner__author-name">{{@author.name}}</h1>
        </div>

        {{#if @author.details.length}}
        <div class="hero-banner__header-inner-section">
          <div class="hero-banner__author-detail">
            {{#each @author.details as |authorDetail|}}
              <p class="hero-banner__author-detail-item">
                {{#if authorDetail.iconClass}}
                  <span class="hero-banner__author-detail-item-icon {{authorDetail.iconClass}}" />
                {{/if}}
                <span class="hero-banner__author-detail-item-label">{{authorDetail.label}}</span>
              </p>
            {{/each}}
          </div>
        </div>
        {{/if}}
      </div>
    </div>


    <div class="hero-banner__body">
      <div class="hero-banner__body-inner">
        <div class="hero-banner__body-divider">
          <hr />
        </div>

        <div class="hero-banner__body-links">
          <ul class="hero-banner__profile-links">
            {{#each @author.profileLinks as |profileLink|}}
              <li class="hero-banner__profile-links-item">
                <a
                  href={{profileLink.href}}
                  target={{profileLink.target}}
                  rel="noopener noreferrer"
                  class="hero-banner__profile-links-item-link {{profileLink.labelIconClass}}"
                >
                  <p>{{profileLink.label}}</p>
                </a>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>