<div class="content-container content-container-header">
  <div class="hero-banner">
    <div class="hero-banner__background">
      <Ui::LazyImage
        class="hero-banner__background-picture"
        @isCurrentlyVisible={{true}}
        @alt=""
        @srcSet={{backgroundSrcSet}}
      />
    </div>


    <div class="hero-banner__header">
      <div class="hero-banner__header-inner">
        <div class="hero-banner__header-inner-section">
          <h2 class="hero-banner__author-role">{{author.role}}</h2>
          <h1 class="hero-banner__author-name">{{author.name}}</h1>
        </div>
        
        {{#if author.details.length}}
        <div class="hero-banner__header-inner-section">
          <div class="hero-banner__author-detail">
            {{#each author.details as |authorDetail|}}
              <h3 class="hero-banner__author-detail-item">
                {{#if authorDetail.iconClass}}
                  <span class="hero-banner__author-detail-item-icon {{authorDetail.iconClass}}" />
                {{/if}}
                <span class="hero-banner__author-detail-item-label">{{authorDetail.label}}</span>
              </h3>
            {{/each}}
          </div>
        </div>
        {{/if}}
      </div>
    </div>


    <div class="hero-banner__body">
      <div class="hero-banner__body-inner">
        <div class="hero-banner__body-divider">
          <hr />
        </div>

        <div class="hero-banner__body-links">
          <ul class="hero-banner__profile-links">
            {{#each author.profileLinks as |profileLink|}}
              <li class="hero-banner__profile-links-item">
                <a
                  href={{profileLink.href}}
                  target={{profileLink.target}}
                  rel="noreferrer"
                  class="hero-banner__profile-links-item-link {{profileLink.labelIconClass}}"
                >
                  <p>{{profileLink.label}}</p>
                </a>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>