<div class="about-me">
  <div class="about-me__inner">
    <div class="about-me__section">
      <div class="about-me__author-image">
        <Ui::LazyImage
          class="about-me__author-image-base"
          @isCurrentlyVisible={{true}}
          @alt={{@author.images.author.alt}}
          @role={{@author.images.author.role}}
          @sizes={{@author.images.author.sizes}}
          @srcSet={{@author.images.author.srcSet}}
        />
      </div>

      <h1 class="about-me__name">{{@author.name}}</h1>

      <p class="about-me__description-subtitle">{{@author.subtitle}}</p>

      <div class="about-me__description">
        {{#each @author.description as |paragraph|}}
          <p>{{paragraph}}</p>
        {{/each}}
      </div>
    </div>

    <div class="about-me__section">
      <div class="about-me__skills">
        <AboutMe::SkillList
          @title={{@author.skills.languages.title}}
          @skills={{@author.skills.languages.list}}
        />

        <AboutMe::SkillList
          @title={{@author.skills.technical.title}}
          @skills={{@author.skills.technical.list}}
        />

        <AboutMe::SkillList
          @title={{@author.skills.graphicsSoftware.title}}
          @skills={{@author.skills.graphicsSoftware.list}}
        />

        <AboutMe::SkillList
          @title={{@author.skills.sourceControl.title}}
          @skills={{@author.skills.sourceControl.list}}
        />

        <AboutMe::SkillList
          @title={{@author.skills.experience.title}}
          @skills={{@author.skills.experience.list}}
        />
      </div>
    </div>
  </div>
</div>
