<div class="project-details">
  <p class={{bem "project-details__item" title="title"}}>{{projectTitle}}</p>

  <p class={{bem "project-details__item" role="role"}}>{{projectRole}}</p>

  <p class={{bem "project-details__item" timeframe="timeframe"}}>{{projectTimeframe.start}} / {{projectTimeframe.end}}</p>

  {{#each projectLink as |projectLink|}}
    <p class={{bem "project-details__item" link="link"}}>{{projectLink}}</p>
  {{/each}}
</div>
